fastapi
uvicorn
python-multipart
yt-dlp
openai-whisper
torch
beautifulsoup4
requests
Jinja2
weasyprint
numpy
scikit-learn
Pillow
moviepy
pandas
openai
python-dotenv
passlib[bcrypt]
PyJWT
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydantic-settings
thefuzz
SpeechRecognition
pydub
ffmpeg-python
mutagen
webvtt-py
tiktoken
torchvision
torchaudio
tensorflow-hub
librosa
fuzzywuzzy
imageio
imageio-ffmpeg
ffmpeg
scikit-image
--find-links https://download.pytorch.org/whl/torch_stable.html 