fastapi
uvicorn
python-dotenv
pydantic[email]
yt-dlp
openai-whisper
torch
transformers
numpy
opencv-python
langchain-deepseek
langchain-core
loguru
torchaudio
pytesseract
PyJWT
python-multipart
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
Pillow
--extra-index-url https://download.pytorch.org/whl/cu121 